# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.so

# Build / Distribution
build/
dist/
.eggs/

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# # Logs
# logs/

# Unwanted folders
.trash/
